* {box-sizing: border-box;
    margin: 0px;
    padding: 0px;}

html, body {max-width: 100%;
            overflow-x: hidden;}

body:before{
 display:none;
 content: url(../images/Autumn-Ambition-Color.png)
 url(../images/Whispering-Woods-Color.png)
 url(../images/Pool-Table-Color.png)
 url(../images/WCF-Color.png)
 url(../images/The-Youth-Film-Color.png)
 url(../images/ACS-Color.png)
 url(../images/Grains-Color.png)
 url(../images/Taxi-Driver-Color.png)
 url(../images/Autumn-Ride-Color.png)
 url(../images/Tomorrow-Color.png)
 url(../images/Career-Poster-Thumbnail-Color.png);}

/* FONT FOR ALL HEADINGS */
@font-face {
    font-family: bebasneuebold;
    src: url("../fonts/BebasNeue-Bold.ttf");
    font-weight: bold;}
.HEADINGS {font-family: 'bebasneuebold';
          font-size: 96px;
          margin-top:2%;
          margin-left: 4%;
          margin-bottom:2%;}
a {font-family: 'bebasneuebold';
    font-size: 48px;
    color:black;
    text-decoration: none;
    padding: 0px 15px;}
    
/*NAVIGATION ON EVERY PAGE */        
nav {height: 160px;
    padding: 0px 30px;
    max-width:1460px;
    margin: 0 auto;
    margin-bottom: 0px;}
    
#navlist {float: right;
          margin-top: 50px;}
          
a:hover {color: lightgrey;}
          
#icon {float: left;
        margin-top: -5px;}
#hamburger {display:none;}
.menu {display:none;}
ul {display:none;}
#maxnav {max-width:4000px;}
/*PUT ALL CONTENT IN THIS AREA*/
header {margin: 0 auto;}

video {display:block;
        width: 100%;
        margin: 0px auto;
        padding: 0 0;
        max-width: 1920px;}       

main {max-width: 1460px;
      margin: 0 auto;}

/*HOME PAGE THUMBNAILS */

.thumbnail-anchor {padding:0px;
                    margin: 0px;
                    font-size: 0px;}

#Taxi-Driver-BW-2 {display:none;}

#Autumn-Ambition-BW {margin-left: 0px;
                    padding-right: .18%;
                    width: 49.82%;
                    display:inline;}
#Autumn-Ambition-BW:hover {content: url("../images/Autumn-Ambition-Color.png")}         

#Whispering-Woods-BW {padding-left: .18%;
                    width: 49.82%;
                    margin-right: 0px;
                    padding-right: 0px;}
#Whispering-Woods-BW:hover {content:url("../images/Whispering-Woods-Color.png")}    
      
#Pool-Table-BW {width: 33.093%;
                padding-right:.18%;
                margin-top:.18%;}
#Pool-Table-BW:hover {content:url("../images/Pool-Table-Color.png")}    
#WCF-BW {width: 33.093%;
        padding-left:.18%;
        padding-right:.18%;}
#WCF-BW:hover {content:url("../images/WCF-Color.png")}    
#The-Youth-Film-BW {width: 33.093%;
                    padding-left:.18%;}
#The-Youth-Film-BW:hover {content:url("../images/The-Youth-Film-Color.png")} 
                    
#ACS-BW {width: 33.093%;
         padding-right:.18%;}
#ACS-BW:hover {content:url("../images/ACS-Color.png")} 
#Grains-BW {width: 33.093%;
            padding-left:.18%;
            padding-right:.18%;}
#Grains-BW:hover {content:url("../images/Grains-Color.png")} 
#Taxi-Driver-BW {width: 33.093%;
                padding-left:.18%;}
#Taxi-Driver-BW:hover {content:url("../images/Taxi-Driver-Color.png")}

#Autumn-Ride-BW {width: 33.093%;
                padding-right:.18%;
                margin-top:.18%;}
#Autumn-Ride-BW:hover {content:url("../images/Autumn-Ride-Color.png");}   
#Tomorrow-BW {width: 33.093%;
        padding-left:.18%;
        padding-right:.18%;}
#Tomorrow-BW:hover {content:url("../images/Tomorrow-Color.png");}   
#Career-Poster-BW {width: 33.093%;
                    padding-left:.18%;}
#Career-Poster-BW:hover {content:url("../images/Career-Poster-Thumbnail-Color.png");}  
            
hr {width:100%;
    margin-top:5%;
    margin-bottom: 2.5%;
    border-top: 3px solid #C4C4C4;}

/*FILM PAGES */


.filmcontainer {width:100%;
                height: 0;
                padding-bottom: 56.25%;
                position: relative;}

.filmposter {margin-top:5%;
            margin-left:5%;}

.filmcontainer iframe {position:absolute;
                        width: 100%;
                        height: 100%;}
.filmtitle {font-size: 120px;
            font-family:bebasneuebold;
            float:right;
            margin-top:7%;
            margin-right:5%;}

.filmsubtitle {display:inline;
            font-size: 48px;
            font-family:bebasneuebold;
            float:right;}

#autumnambitiontext {float:left;}

/*FOOTER */

footer {width:100%;
max-width:1440px;}

.footercontent {margin: 0 auto;}

.footerlink {color:black;
            font-size: 35px;
            margin-bottom:50px;
            margin-left: 20px;
            padding: 0 10px;
            float:left;}

.footersocial {float:right;
                padding-right: 15px;
                padding-bottom:75px;
                margin-right: 20px;}






@media only screen and (max-width:1125px) {

.HEADINGS {font-size: 64px;}

#Autumn-Ambition-BW {width: 49%;
                    margin-left: 1%;}
#Whispering-Woods-BW {width: 49%;}

#Pool-Table-BW, #WCF-BW, #The-Youth-Film-BW, #ACS-BW, #Grains-BW, #Taxi-Driver-BW, #Autumn-Ride-BW, #Tomorrow-BW, #Career-Poster-BW {width: 32.5%;}

#Pool-Table-BW, #ACS-BW, #Autumn-Ride-BW {margin-left: 1%;}

#icon {margin-right: 0px;
      padding-right: 0px;}
      
#HOME_BUTTON {margin-left: 0px;
            padding-left: 0px;}
}

@media only screen and (max-width:767px){

.footerlink {display:none;}

.footersocial {float:left;
                padding-right: 5px;
                margin-left: 20px;
                width: 60px;
                height: 60px;
                margin-bottom:20px;}
                
.footersocial img  {width: 50px;
                    height: 50px;}

#hamburger {display:inline;
        position: relative;
        right: 25px;
        top: -60px;
        float: right;}

#hamburger:hover {cursor:pointer;}

nav {padding: 0;
    width: 100%;}

.toggle {display:block;
        width:100%;}

ul {width: 100%;
    float: left;
    display:none;
    margin: 0;
    padding: 5px 0px 30px 0px;}

ul li {display: block;
        text-align:center;
        background: white;
        position:relative;
        z-index:100;
        border: solid black 2px;
        width: 100%;
        margin-top: -12px;
        margin-left: 0;}

li {padding: 13px 0px;
    width: 100%;}        

.active {display:inline-block;}

.hiddenbutton {font-size: 41px;
                padding: 0px 0px;}

        
#Taxi-Driver-BW-2 {display:inline;}
#Taxi-Driver-BW-2:hover {content:url("../images/Taxi-Driver-Color.png")}
#Taxi-Driver-BW {display:none;}  

header {display:none;}
#The-Youth-Film-BW {display: none;}
#navlist {display:none;}

#icon {display:block;
      float:none;
      margin: -50px auto;
      pointer-events: none;}

#iconanchor {display:block;
            margin-top: 50px;
            margin-bottom: 10px;}
      
#FILM {margin-top: 0%;}

.HEADINGS {font-size: 40px;}

#Pool-Table-BW {width: 49%;
                margin-left: 1%;}
#WCF-BW {width: 49%;}

#ACS-BW {width: 49%;
         margin-left: 1%;}
#Grains-BW {width: 49%;}

#Taxi-Driver-BW-2 {width: 49%;
                margin-left: 1%;}
#Autumn-Ride-BW {width: 49%;
                  margin-left:0%;}

#Tomorrow-BW {width: 49%;
                margin-left: 1%;}
#Career-Poster-BW {width: 49%;}
}


@media only screen and (max-width:398px){

.footersocial img {width: 43px;
                    height: 43px;}
                    
.footersocial {margin: 0 auto;}
                    
#hamburger {display:inline;
        position: relative;
        right: 20px;
        float: right;}

li {padding: 9px 0px;
    width: 100%;}   
 
#Autumn-Ambition-BW {width: 48%;
                    margin-left: 1.5%;}
#Whispering-Woods-BW {width: 48%;}
 
#Pool-Table-BW {width: 48%;
                margin-left: 1.5%;}
#WCF-BW {width: 48%;}

#ACS-BW {width: 48%;
                margin-left: 1.5%;}
#Grains-BW {width: 48%;}

#Taxi-Driver-BW-2 {width: 48%;
                margin-left: 1.5%;}
#Autumn-Ride-BW {width: 48%;
                  margin-left:0%;}

#Tomorrow-BW {width: 48%;
                margin-left: 1.5%;}
#Career-Poster-BW {width: 48%;}
    
    
}
