* {box-sizing: border-box;
    margin: 0px;
    padding: 0px;}

html, body {max-width: 100%;
            overflow-x: hidden;}

/* FONT FOR ALL HEADINGS */
@font-face {
    font-family: bebasneuebold;
    src: url("../fonts/BebasNeue-Bold.ttf");
    font-weight: bold;}
@font-face {
    font-family: bebasneuelight;
    src: url("../fonts/BebasNeue-Light.ttf");}   
.HEADINGS {font-family: 'bebasneuebold';
          font-size: 96px;
          margin-top:2%;
          margin-left: 4%;
          margin-bottom:2%;}
a {font-family: 'bebasneuebold';
    font-size: 48px;
    color:black;
    text-decoration: none;
    padding: 0px 15px;}
    
/*NAVIGATION ON EVERY PAGE */        
nav {height: 160px;
    padding: 0px 30px;
    max-width:1460px;
    margin: 0 auto;
    margin-bottom: 0px;}
    
#navlist {float: right;
          margin-top: 50px;}
          
a:hover {color: lightgrey;}
          
#icon {float: left;
        margin-top: -5px;}
#hamburger {display:none;}
.menu {display:none;}
ul {display:none;}
#maxnav {max-width:4000px;}
/*PUT ALL CONTENT IN THIS AREA*/
header {margin: 0 auto;}

video {display:block;
        width: 100%;
        margin: 0px auto;
        padding: 0 0;
        max-width: 1920px;}       

main {max-width: 1460px;
      margin: 0 auto;}

/*HOME PAGE THUMBNAILS */

.thumbnail-anchor {padding:0px;
                    margin: 0px;
                    font-size: 0px;}

#Taxi-Driver-BW-2 {display:none;}

#Autumn-Ambition-BW {margin-left: 0px;
                    padding-right: .18%;
                    width: 49.82%;
                    display:inline;}
#Autumn-Ambition-BW:before {content: url("../images/Autumn-Ambition-Color.png");
                            visibility:hidden;
                            width:0;
                            height:0;}                      
#Autumn-Ambition-BW:hover {content: url("../images/Autumn-Ambition-Color.png");}         
#Whispering-Woods-BW {padding-left: .18%;
                    width: 49.82%;
                    margin-right: 0px;
                    padding-right: 0px;}
#Whispering-Woods-BW:before {content: url("../images/Analog-Color.jpg");
                            visibility:hidden;
                            width:0;
                            height:0;}       
#Whispering-Woods-BW:hover {content:url("../images/Analog-Color.jpg");}    
      
#Pool-Table-BW {width: 33.093%;
                padding-right:.18%;
                margin-top:.18%;}
#Pool-Table-BW:before {content: url("../images/Pool-Table-Color.png");
                            visibility:hidden;
                            width:0;
                            height:0;}       
#Pool-Table-BW:hover {content:url("../images/Pool-Table-Color.png");}    
#WCF-BW {width: 33.093%;
        padding-left:.18%;
        padding-right:.18%;}
#WCF-BW:before {content: url("../images/WCF-Color.png");
                            visibility:hidden;
                            width:0;
                            height:0;}    
#WCF-BW:hover {content:url("../images/WCF-Color.png");}

#The-Youth-Film-BW {width: 33.093%;
                    padding-left:.18%;}
#The-Youth-Film-BW:before {content: url("../images/The-Youth-Film-Color.jpg");
                            visibility:hidden;
                            width:0;
                            height:0;}
#The-Youth-Film-BW:hover {content:url("../images/The-Youth-Film-Color.jpg");} 
                    
#ACS-BW {width: 33.093%;
         padding-right:.18%;}
#ACS-BW:before {content: url("../images/ACS-Color.png");
                            visibility:hidden;
                            width:0;
                            height:0;}
#ACS-BW:hover {content:url("../images/ACS-Color.png");} 
#Grains-BW {width: 33.093%;
            padding-left:.18%;
            padding-right:.18%;}
#Grains-BW:before {content: url("../images/Grains-Color.png");
                            visibility:hidden;
                            width:0;
                            height:0;}
#Grains-BW:hover {content:url("../images/Grains-Color.png");} 
#Taxi-Driver-BW {width: 33.093%;
                padding-left:.18%;}
#Taxi-Driver-BW:before {content: url("../images/Taxi-Driver-Color.png");
                            visibility:hidden;
                            width:0;
                            height:0;}
#Taxi-Driver-BW:hover {content:url("../images/Taxi-Driver-Color.png");}

#Autumn-Ride-BW {width: 33.093%;
                padding-right:.18%;
                margin-top:.18%;}
#Autumn-Ride-BW:before {content: url("../images/Autumn-Ride-Color.png");
                            visibility:hidden;
                            width:0;
                            height:0;}
#Autumn-Ride-BW:hover {content:url("../images/Autumn-Ride-Color.png");}   
#Tomorrow-BW {width: 33.093%;
        padding-left:.18%;
        padding-right:.18%;}
#Tomorrow-BW:before {content: url("../images/Tomorrow-Color.png");
                            visibility:hidden;
                            width:0;
                            height:0;}
#Tomorrow-BW:hover {content:url("../images/Tomorrow-Color.png");}
#Career-Poster-BW {width: 33.093%;
                    padding-left:.18%;}
#Career-Poster-BW:before {content: url("../images/Career-Poster-Thumbnail-Color.png");
                            visibility:hidden;
                            width:0;
                            height:0;}
#Career-Poster-BW:hover {content:url("../images/Career-Poster-Thumbnail-Color.png");}  
            
hr {width:100%;
    margin-top:5%;
    margin-bottom: 2.5%;
    border-top: 3px solid #C4C4C4;}

/*FILM PAGES */

.filmcontainer {width:100%;
                height: 0;
                padding-bottom: 56.25%;
                position: relative;}

#filmtextcontainer {display:inline-block;
            float:right;
            width:53%;
            margin-top:50px;
            margin-right:25px;}

#paragraphtext {display:inline-block;
                font-size: 2vw;
                margin-top:25px;}

.filmcontainer iframe {position:absolute;
                        width: 100%;
                        height: 100%;}
                        
.filmposter {float:left;
            width: 35%;
            margin-top: 75px;
            margin-bottom: 75px;
            margin-left: 25px;
            margin-right: 25px;}

.filmtitle {font-size: 9vw;
            font-family:bebasneuebold;
            float:right;}

.filmsubtitle {font-size: 4vw;
            font-family:bebasneuelight;
            float:right;
            letter-spacing: 0.1em;
            margin-top:-20px;}

.filmaltimages {display: inline-block;
               width:40%;}
.filmposteralt {display: block;
               width: 100%;
               margin-top:50px;
               margin-left: 50px;}
#filmtextcontaineralt {display:inline-block;
                         width: 47%;
                         margin-left: 0px;
                         margin-right: 30px;
                         float:right;
                         margin-top:25px;
                         margin-left:65px;}
                         
.filmtitlealt {font-size: 6.5vw;
            font-family:bebasneuebold;
            float:right;}

.filmsubtitlealt {font-size: 3vw;
            font-family:bebasneuelight;
            float:right;
            letter-spacing: 0.1em;
            margin-top:-20px;}
            
#paragraphtextalt {display:inline-block;
                font-size: 1.7vw;
                margin-top:25px;}
            
#whisperingwoodstext {font-size:8vw;}

#filmtitleshboom  {font-size:8vw;}

#contactheadericons {margin: 0 auto;}

#contact1, #contact2, #contact3, #contact4, #contact5, #contact6, #contact7, #contact8, #contact9, #contact10 {padding: 0px;}

#contact1 {margin-left: 1.5%;}

.contactimages {width: 9.2%;
                margin-bottom:1.5%;}

#contacttext {float:left;
            width: 35%;
            margin-left: 5%;
            margin-right: 1.5%;}

#stockimage {float: right;
            width: 50%;
            margin-right: 3%;
            margin-top: 0px;
            margin-left: 3%;
            margin-bottom: 5%;}

#contactheader {font-family: bebasneuebold;
                font-size: 9vw;
                text-align: center;
                margin-top: 30%;}

#contactemailheader, #contactphoneheader {font-family: bebasneuelight;
                    letter-spacing: 0.05em;
                    font-size: 3vw;
                    text-align: center;}


    

/*FOOTER */

footer {width:100%;
max-width:1440px;}

.footercontent {margin: 0 auto;}

.footerlink {color:black;
            font-size: 35px;
            margin-bottom:50px;
            margin-left: 20px;
            padding: 0 10px;
            float:left;}

.footersocial {float:right;
                padding-right: 15px;
                padding-bottom:75px;
                margin-right: 20px;}




@media only screen and (min-width:1125px) {
 
 #contactheader {font-size: 103px;}
 #contactemailheader, #contactphoneheader {font-size: 45px;}
 
 
 .filmtitle {font-size: 104px;}
 .filmsubtitle {font-size: 50px;}
 #paragraphtext {font-size:24px;}
 
  .filmtitlealt {font-size: 95px;}
 .filmsubtitlealt {font-size: 50px;}
 #paragraphtextalt {font-size:21px;}
 
 #whisperingwoodstext {font-size:97px;}
 #filmtitleshboom {font-size: 110px;}
 #autumnridesubtitle {font-size: 45px;}
 
 #email {font-size: 50px;}
}

@media only screen and (max-width:1125px) {

.contactimages {width: 8.5%;}

#contact1 {margin-left: 3%;}

#contact10 {padding-right: 3%;}


.filmsubtitlealt {margin-top:-10px;}

.HEADINGS {font-size: 64px;}

#Autumn-Ambition-BW {width: 49%;
                    margin-left: 1%;}
#Whispering-Woods-BW {width: 49%;}

#Pool-Table-BW, #WCF-BW, #The-Youth-Film-BW, #ACS-BW, #Grains-BW, #Taxi-Driver-BW, #Autumn-Ride-BW, #Tomorrow-BW, #Career-Poster-BW {width: 32.5%;}

#Pool-Table-BW, #ACS-BW, #Autumn-Ride-BW {margin-left: 1%;}

#icon {margin-right: 0px;
      padding-right: 0px;}
      
#HOME_BUTTON {margin-left: 0px;
            padding-left: 0px;}
}

@media only screen and (max-width:767px){

#stockimage {display:block;
            float:left;
            width:90%;
            padding-left: 5%;
            margin-top: -50px;}


#contactheader {font-size: 18vw;
                margin: 0 auto;
                margin-top: 50px;}
#contactemailheader, #contactphoneheader {font-size: 9vw;
                                        text-align:center;}
#contactphoneheader  {margin-bottom: 40px;}
                
                
#contacttext {width: 100%;
            margin: 0 auto;
            display:block;
            float:none;}
        

#contactheadericons {display: none;}

.filmtitle, .filmsubtitle {display:none;}

.filmtitlealt, .filmsubtitlealt {display:none;}

#WCF-client, #ACS-client {margin-top: -30px;
                            width: 85%;}

#autumnridetitle {display:block;}
#autumnridesubtitle {display:none;}
#autumnrideimage1 {display:block;
                    width:80%;
                    margin: 0 auto;
                    margin-bottom: 25px;}
#autumnrideimage2 {display:block;
                    width:80%;
                    margin: 0 auto;}
#autumnrideimages {width:100%;}
.filmtextcontaineralt {width:100%;}
#autumnridetitle {margin: 0 auto;
                font-size: 14vw;
                text-align: center;
                float: none;}

#taxidriverposter {display:block;
                    width: 80%;
                    margin-left: 10%;
                    margin-right: 10%;
                    margin-bottom: 2%;
                    margin-top: -40px;}

#paragraphtext {display:block;
font-size: 18px;
margin-top: -30px;
margin-bottom: 40px;}

#paragraphtextalt {display:block;
font-size: 18px;
margin-top: -20px;
margin-bottom: 40px;}

#filmtextcontaineralt {display:block;
float:none; width: 80%;
margin-left: 10%;}

#filmtextcontainer {display:block;
float:none; width: 80%;
margin-left: 10%;}

.filmposter {display:none;}
.filmposteralt {display:none;}

.footerlink {display:none;}

.footersocial {float:left;
                padding-right: 5px;
                margin-left: 20px;
                width: 60px;
                height: 60px;
                margin-bottom:20px;}
                
.footersocial img  {width: 50px;
                    height: 50px;}

#hamburger {display:inline;
        position: relative;
        right: 25px;
        top: -60px;
        float: right;}

#hamburger:hover {cursor:pointer;}

nav {padding: 0;
    width: 100%;}

.toggle {display:block;
        width:100%;}

ul {width: 100%;
    float: left;
    display:none;
    margin: 0;
    padding: 5px 0px 30px 0px;}

ul li {display: block;
        text-align:center;
        background: white;
        position:relative;
        z-index:100;
        border: solid black 2px;
        width: 100%;
        margin-top: -12px;
        margin-left: 0;}

li {padding: 13px 0px;
    width: 100%;}        

.active {display:inline-block;}

.hiddenbutton {font-size: 41px;
                padding: 0px 0px;}

#Autumn-Ambition-BW {content: url("../images/Autumn-Ambition-Color.png");}
#Whispering-Woods-BW {content: url("../images/Analog-Color.jpg");}
#Pool-Table-BW {content: url("../images/Pool-Table-Color.png");}
#WCF-BW {content: url("../images/WCF-Color.png");}

#ACS-BW {content: url("../images/ACS-Color.png");}
#Grains-BW {content: url("../images/Grains-Color.png");}
#Taxi-Driver-BW-2 {content: url("../images/Taxi-Driver-Color.png");}
#Autumn-Ride-BW {content: url("../images/Autumn-Ride-Color.png");}
#Tomorrow-BW {content: url("../images/Tomorrow-Color.png");}
#Career-Poster-BW {content: url("../images/Career-Poster-Thumbnail-Color.png");}



#Taxi-Driver-BW-2 {display:inline;}
#Taxi-Driver-BW-2:hover {content:url("../images/Taxi-Driver-Color.png")}
#Taxi-Driver-BW {display:none;}  

header {display:none;}
#The-Youth-Film-BW {display: none;}
#navlist {display:none;}

#icon {display:block;
      float:none;
      margin: -50px auto;
      pointer-events: none;}

#iconanchor {display:block;
            margin-top: 50px;
            margin-bottom: 10px;}
      
#FILM {margin-top: 0%;}

.HEADINGS {font-size: 40px;}

#Pool-Table-BW {width: 49%;
                margin-left: 1%;}
#WCF-BW {width: 49%;}

#ACS-BW {width: 49%;
         margin-left: 1%;}
#Grains-BW {width: 49%;}

#Taxi-Driver-BW-2 {width: 49%;
                margin-left: 1%;}
#Autumn-Ride-BW {width: 49%;
                  margin-left:0%;}

#Tomorrow-BW {width: 49%;
                margin-left: 1%;}
#Career-Poster-BW {width: 49%;}
}


@media only screen and (max-width:398px){

.footersocial img {width: 43px;
                    height: 43px;}
                    
.footersocial {margin: 0 auto;}
                    
#hamburger {display:inline;
        position: relative;
        right: 20px;
        float: right;}

li {padding: 9px 0px;
    width: 100%;}   
 
#Autumn-Ambition-BW {width: 48%;
                    margin-left: 1.5%;}
#Whispering-Woods-BW {width: 48%;}
 
#Pool-Table-BW {width: 48%;
                margin-left: 1.5%;}
#WCF-BW {width: 48%;}

#ACS-BW {width: 48%;
                margin-left: 1.5%;}
#Grains-BW {width: 48%;}

#Taxi-Driver-BW-2 {width: 48%;
                margin-left: 1.5%;}
#Autumn-Ride-BW {width: 48%;
                  margin-left:0%;}

#Tomorrow-BW {width: 48%;
                margin-left: 1.5%;}
#Career-Poster-BW {width: 48%;}
    
    
}
